#desktop-hero{
    display: none;
}

#mobil-hero{
    width: 100%;
    height: auto;
}

.line-left {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    width: 10%;

    position: relative;
}

.gray-circle {
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.semi-purple-line{
    background: linear-gradient(transparent, #7C72FF 30%);
}

.purple-green-line{
    background: linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);
}

.form .input button {
    box-sizing: border-box;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0 .5rem;
    font-size: 17px;
    background-color: rgb(122, 42, 212);
    color: white;
    flex: 0.8;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.secondary{
    height: 2.8rem;
    padding: 0 1rem;
    outline: 1px solid #7C72FF;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

#landing{
    margin-top: -68px;
    position: relative;
}

#landing .track-content{
    color: #979a9c !important;
}

#landing .track-content h2{
    font-size: 48px;
    line-height: 52px;
}

.text-build-title, .trust-list, .logos{
    display: flex;
    flex-direction: column;
}

.text-build-title{
    gap: 8px;
}

.trust-list{
    width: 100%;
    gap: 16px;
}

.trust-list p{
    font-size: 16px;
}

.logos{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    gap: 16px;
}

.logos img{
    height: 44px;
    width: calc((100 - 16px)/2);
}

@media (min-width: 544px) {
    #mobil-hero{
        display: none;
    }

    #desktop-hero{
        display: flex;
        position: absolute;
        left: 67%;

        z-index: -1;

        width: min(1118px, max(100vh, 100vw));
    }

    #landing .track-content{
        padding-top: 148px;
    }
}

@media (min-width: 768px) {
    #landing .track-content h2{
        font-size: 86.4px;
        line-height: 76px;

        max-width: 450px;
    }

    .trust-list p{
        font-size: 20px;
        line-height: 28px;
    }

    #landing .track-content .track-detail{
        gap: 96px !important;
    }

    .logos{
        column-gap: 0;
        row-gap: 16px;
    }
}

@media (min-width: 1012px) {
    #landing .track-content h2{
        font-size: 96px;
        line-height: 80px;

        max-width: unset;
    }

    .trust-list p{
        font-size: 20px;
        line-height: 28px;
    }
}