


#first-content {
    position: relative;
    overflow: hidden;
    font-family: 'Mona',sans-serif,Arial, Helvetica, sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#first-content .first-element {
    display: flex;
    width: 100%;
    padding: 0 0 0 5rem;
    position: relative;
    z-index: 2; /* Assure que le contenu texte est au-dessus de l'image */
    overflow: visible;
}

.line-left {
    display: flex;
    padding-top: 1rem;
    flex-direction: column;
    align-items: center;
    width: 16%;
    /* margin-right: 2.8rem; */
}

.space-bg {
    position: absolute;
    top: 0;
    width: min(1118px, 100%);
    left: 67%;
    height: 100%;
    z-index: 1; /* Assure que l'image est en dessous du contenu texte */
}

#first-content .gray-circle {
    padding: 4px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 20px;
}

#first-content .glow-line {
    background: linear-gradient(transparent, #7C72FF 30%);
    height: 40vh;
    width: 3px;
}

#first-content .glow-icon {
    padding: 1rem 0;
}

#first-content .glowed-icon span {
    filter: blur(2px);
}

#first-content .glow-line-2 {
    background: linear-gradient(#7C72FF, #2DA44E 80%, #3FB950);
    width: 3px;
    height: 40vh;
}

#first-content .text-build-title h2 {
    font-size: 5.8rem;
    font-family: 'Mona';
    font-weight: semi-bold;
}

#first-content .first-element p{
    font-size: 1.4rem;
    color: gray;
}

.form {
    margin-top: 5rem;
    height: 2.8rem;
    display: flex;
}

.separator {
    width: 0.5px;
    margin: 0 1rem 0 1rem;
    background-color: gray;
}

.form .input {
    display: flex;
    height: 2.8rem;
    width: 80vh;
}

.form .input input {
    box-sizing: border-box;
    flex: 1;
    border-radius: 5px 0 0 5px;
    padding: 0 0 0 1rem;
    border: none;
    font-size: 18px;
}

.form .input button {
    box-sizing: border-box;
    border: none;
    border-radius: 0 5px 5px 0;
    padding: 0 1rem;
    font-size: 17px;
    background-color: rgb(122, 42, 212);
    color: white;
    flex: 0.5;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.secondary{
    height: 2.8rem;
    padding: 0 1rem;
    border: 1px solid #7C72FF;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.text-bottom {
    margin-top: 6rem;
}

.text-bottom .logos {
    display: flex;
    gap: 4rem;
    margin-top: 3rem;
    width: 80%;
}

.text-bottom .logos .mercedes{
    height: 2.8rem;
}

#first-content .second-element {
    display: flex;
    width: 100%;
    padding: 0 0 0 5rem;
    position: relative;
    z-index: 2; /* Assure que le contenu texte est au-dessus de l'image */
    overflow: visible;
}

.second-element .line-left .glow-line-3 {
    width: 3px;
    height: 40vh;
    background: linear-gradient(#2DA44E 50%, transparent)
}

.second-element .text-build {
    gap: 1rem;
    position: relative;
    z-index: 1;
}

.second-element .text-build h3 {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    font-weight: normal;
}

.second-element .text-build h2 {
    font-size: 3rem;
    font-weight: normal;
    color: #2DA44E;
}

.second-element .text-build p{
    font-size: 2.8rem;
}

.second-element .big-circle {
    position: absolute;
    height: 40rem;
    width: 40rem;
    background-color: transparent;
    border: 2px solid gray;
    border-radius: 100%;
    z-index: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -22%;
    bottom: -90%;
    z-index: -1;
}

.second-element .big-circle .middle-circle {
    position: relative;
    height: 50%;
    width: 50%;
    border: 2px solid gray;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second-element .big-circle .middle-circle .coin-circle {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: gray;
    border-radius: 100%;
    top: 80%;
    left: 8%;
}

.second-element .big-circle .middle-circle .small-circle {
    width: 60%;
    position: relative;
    height: 60%;
    border: 2px solid gray;
    border-radius: 100%;
}

.image-code {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    width: 100%;
}

.image-code .code-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.image-code .code-image-container img {
    width: 95%;
    border-radius: 10px;
}

.third-element {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
}

.third-element .left-element {
    width: 50%;
    margin-top: 5rem;
    padding-left: 2.8rem;
    padding-right: 5rem;
}

.third-element .left-element p {
    font-size: 1.5rem;
    color: gray;
}

.third-element .left-element span{
    color: white;
}

.third-element .left-element a {
    font-size: 1.5rem;
    margin: 5rem 0 0 0;
}

.third-element .right-element img{
    position: absolute;
    width: 35%;
    height: 100%;
    top: -70%;
    z-index: 10;
    border-radius: 10px;
    right: 7%;
}

#first-content .third-element {
    display: flex;
    width: 100%;
    padding: 0 0 0 5rem;
    position: relative;
    z-index: 2; /* Assure que le contenu texte est au-dessus de l'image */
    overflow: visible;
}

.third-element .line-left .glow-line-3 {
    width: 3px;
    height: 80vh;
    background: linear-gradient(transparent, #2DA44E 50%, transparent)
}
