header {
	display: flex;
	align-items: center;
	z-index: 11 !important
}

header .flex-container > .header-signin,
.header-signup {
	font-weight: 400;
	width: max-content;
	border: 1px solid white;

	padding: 4px 7px;
	font-size: 14px;

	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 250ms;
	transition-property: color, border-color;
}

#nav-toggler {
	display: inline-block;
	cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
	display: flex;

	width: 22px;
	height: 2px;

	background-color: white;
	margin: 4px 0;

	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 500ms;
	transition-property: opacity, transform;
}

#nav-toggler.change .bar1 {
	transform-origin: bottom right;

	transform: rotate(-45deg) translateY(-3px);
	-webkit-transform: rotate(-45deg) translateY(-3px);
	-moz-transform: rotate(-45deg) translateY(-3px);
	-ms-transform: rotate(-45deg) translateY(-3px);
	-o-transform: rotate(-45deg) translateY(-3px);
}

#nav-toggler.change .bar2 {
	opacity: 0;
}

#nav-toggler.change .bar3 {
	transform-origin: top right;

	transform: rotate(45deg) translateY(3px);
	-webkit-transform: rotate(45deg) translateY(3px);
	-moz-transform: rotate(45deg) translateY(3px);
	-ms-transform: rotate(45deg) translateY(3px);
	-o-transform: rotate(45deg) translateY(3px);
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header > *:not(nav) {
	z-index: 12;
}

#header-logo svg {
	fill: white;
}

.flex-container {
	flex: 1 1 0%;
}

.flex-container:nth-of-type(2) {
	text-align: end;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

nav:not(.visible) {
	display: none;
}

nav {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 11;
	padding-top: 48px;
	padding-bottom: 24px;
	padding-left: 16px;
	padding-right: 0;

	color: #0d1117;
}

nav.visible{
	backdrop-filter: blur(5px);
}

nav .container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: white;
	color: #1f2328;

	width: 100%;
	height: 100%;
	overflow-y: auto;
	margin-top: 16px;

	padding: 16px;

	border-radius: 0.375rem;
	-webkit-border-radius: 0.375rem;
	-moz-border-radius: 0.375rem;
	-ms-border-radius: 0.375rem;
	-o-border-radius: 0.375rem;

	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

nav .container > * {
	padding-left: 16px;
	padding-right: 16px;
	margin-bottom: 16px;
}

#left-links li > button,
#left-links li > a {
	display: flex;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	padding: 16px 0;

	font-size: 20px;
	font-weight: 600;

	color: #0d1117;

	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 250ms;
	transition-property: color;
}

#left-links li > a:hover:not([href="/pricing"]),
#left-links li > a:hover > span,
#left-links li > a:hover .descri {
	color: #0969da !important;
}

#left-links li > a:hover svg {
	fill: #0969da;
}

.dropdown {
	display: none;
	padding-top: 8px;
	padding-bottom: 8px;
}

.dropdown {
	gap: 24px;
}

.dropdown .block {
	padding-bottom: 16px;
	border-bottom: 1px solid #dadada;
}

.dropdown .block.no-border{
	padding-bottom: 0px;
	border-bottom: 0px solid transparent;
}

.dropdown .title,
.dropdown .descri {
	font-size: 16px;
	font-weight: 600;
}

.dropdown .descri {
	color: #6e7781;
	font-size: 14px !important;
	font-weight: 400 !important;
}

.dropdown li > a {
	display: flex !important;
	align-items: center !important;
	justify-content: flex-start !important;
	padding: 8px 0px !important;
}

.dropdown li > a > svg {
	width: 24px;
	height: 24px;
	margin-right: 16px;

	fill: #6e7781;
}

.dropdown li > a > .octicon-link-external {
	width: 16px;
	height: 16px;
	margin-right: 0px;
	fill: #6e7781;

	position: relative;
	top: 0.8px;

	opacity: 0;
	transform: translateX(-0.5em);
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 500ms;
	transition-property: opacity, transform;
	-webkit-transform: translateX(-0.5em);
	-moz-transform: translateX(-0.5em);
	-ms-transform: translateX(-0.5em);
	-o-transform: translateX(-0.5em);
}

.dropdown li > a:hover > .octicon-link-external {
	fill: #0969da;
	opacity: 1;
	transform: translateX(0.2rem);
	-webkit-transform: translateX(0.2rem);
	-moz-transform: translateX(0.2rem);
	-ms-transform: translateX(0.2rem);
	-o-transform: translateX(0.2rem);
}

.dropdown li > a > span {
	display: flex;
	flex-direction: column;
}

#left-links li:hover > button, #left-links > li:hover > a, .header-signin:hover, .header-signup:hover {
	color: #979a9c;
	border-color: #979a9c !important;
}

#left-links li > button svg {
	transform: rotateZ(-90deg);
	-webkit-transform: rotateZ(-90deg);
	-moz-transform: rotateZ(-90deg);
	-ms-transform: rotateZ(-90deg);
	-o-transform: rotateZ(-90deg);
	transition-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
	transition-duration: 500ms;
	transition-property: opacity, transform;
}

#left-links li:hover > button {
	color: #6e7781;
}

#left-links li:hover > button svg {
	transform: rotateZ(0deg);
	-webkit-transform: rotateZ(0deg);
	-moz-transform: rotateZ(0deg);
	-ms-transform: rotateZ(0deg);
	-o-transform: rotateZ(0deg);
}

#left-links li:hover .dropdown {
	display: flex;
	flex-direction: column;
}

#right-links {
	display: flex;
	flex-direction: column;
	gap: 16px;
}

#search-btn {
	width: 100%;
	background-color: #484f58;

	padding: 6px 8px;
	gap: 8px;
}

#search-btn .octicon-search {
	fill: #979a9c;
}

#search-btn span {
	text-align: left;
	color: #e4e4e4;

	font-size: 14px;
}

#search-btn .slash {
	margin-left: auto;
}

#search-btn,
.header-signup,
.header-signin {
	display: flex;
	align-items: center;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.header-signup,
.header-signin {
	width: 100%;
	justify-content: center;

	background-color: #0d1117;
	color: white;
	font-weight: 600;

	text-align: center;
	padding: 8px;
}

.header-signup {
	display: none;
}

.track-content, .track-detail, .track-text, .track-text a, .track-stat{
	display: flex;
}

.track-content{
	width: 100%;
	padding: 32px 16px 0px 16px;

	gap: 8px;
}

.track-detail > *:nth-last-child(1){
	padding-bottom: 72px;
}

.track-detail{
	flex-direction: column;
	gap: 32px;

	font-size: 20px;
	font-weight: 400;
	line-height: 28px;
}

.track-text{
	flex-direction: column;
	justify-content: flex-end;

	max-width: 515px;

	gap: 16px;
	color: #979a9c;
}

.white, .track-text a{
	color: white;
	fill: white;
}

.track-text a{
	align-items: center;

	font-size: 16px;
	font-weight: 600;
	line-height: 24px;
	gap: 3px;
}

button.secondary .octicon-chevrow-stem,
.track-text a .octicon-chevrow-stem {
	stroke-dasharray: 10;
    stroke-dashoffset: 10;
    transition: stroke-dashoffset .2s;
}

button.secondary .chevron,
.track-text a .chevron {
	transition: transform 0.2s;
	transform: translateX(-4px);

	-webkit-transform: translateX(-4px);
	-moz-transform: translateX(-4px);
	-ms-transform: translateX(-4px);
	-o-transform: translateX(-4px);
	-webkit-transition: transform .2s;
	-moz-transition: transform .2s;
	-ms-transition: transform .2s;
	-o-transition: transform .2s;
}

button.secondary:hover .octicon-chevrow-stem,
.track-text a:hover .octicon-chevrow-stem {
	stroke-dasharray: unset;
    stroke-dashoffset: unset;
}

button.secondary:hover .chevron,
.track-text a:hover .chevron {
	transform: none;
	-webkit-transform: none;
	-moz-transform: none;
	-ms-transform: none;
	-o-transform: none;
}

.track-stat{
	flex-direction: column;
	gap: 16px;

	padding: 16px 0;
	color: white;
}

.track-stat .bordered{
	border-width: 1px;
	border-style: solid;
	width: max-content;
	padding: 0 8px;
	font-size: 12px;
	line-height: 20px;

	border-radius: 8px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
}

.pink{
	color: rgb(247, 120, 186);
	border-color: rgb(247, 120, 186);
}

.track-stat h3{
	font-size: 40px;
	line-height: auto;
	margin-top: 8px;
}

.track-content .relative-container{
	position: relative;
	width: 100%;
	aspect-ratio: 1/.4;
}

.track-content .relative-container img{
	position: absolute;
	bottom: 0;
	right: 0;

	width: calc(100% - 24px);
	height: auto;
	max-width: 595px;

	object-fit: cover;
}

.line-left .line{
		display: flex;
		width: 2px;
		height: 100%;

	transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
	/* transform: scaleY(0); */
	transform-origin: 0 0;
	-webkit-transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
	-moz-transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
	-ms-transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
	-o-transition: transform .7s cubic-bezier(0.16, 1, 0.3, 1);
}

.line-left .col {
	flex-direction: column;
}

.line-left .pink-line {
	background: linear-gradient(transparent, #f778ba, #f778ba, transparent);
}

.line-left .purple-line {
	background: linear-gradient(transparent, rgb(102, 57, 186) 10%, rgb(163, 113, 247), rgb(210, 168, 255));
}

.line-left .branch {
	display: none;
}

.track-content.cards {
	flex-direction: column;
	gap: 16px;
}

.tilt-card,
.sponsor-card,
.sponsor-card button {
	background-color: #161b229f;
	border: 1px solid #30363d9f;
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	-o-border-radius: 12px;
}

.tilt-card {
	width: 100%;
	overflow: hidden;
	backdrop-filter: blur(15px);
}

.tilt-card .track-text {
	width: 100%;
	max-width: unset;
	padding: 32px;
}

.tilt-card img {
	width: 100%;
	height: auto;

	position: relative;
	top: 5px;
}

.tilt-card #sponsor-cards {
	width: 100%;
	max-height: 480px;
	overflow: hidden;
}

.tilt-card #sponsor-cards > div {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 8px;

	width: max(100%, 370px);

	position: relative;
	top: -128px;
	right: -84px;

	transform: rotate(-15deg) translateZ(10px);
	padding: 24px;
	-webkit-transform: rotate(-15deg) translateZ(10px);
	-moz-transform: rotate(-15deg) translateZ(10px);
	-ms-transform: rotate(-15deg) translateZ(10px);
	-o-transform: rotate(-15deg) translateZ(10px);
}

.sponsor-card {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 16px;

	width: calc(50% - 4px);
	max-width: 245px;
	padding: 24px;

	color: rgb(132, 141, 151);
}

.sponsor-card p {
	font-size: small;
}

.sponsor-card img {
	width: 96px;
	height: 96px;

	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.sponsor-card button {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;

	fill: rgb(132, 141, 151);
	color: rgb(132, 141, 151);

	padding: 6px 12px;

	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.bottom-form .track-detail {
	gap: 64px;
	padding: 72px 0 10px 0;
}

.bottom-form h2 {
	font-size: 32px;
	line-height: 36px;
}

.track-text sup {
	font-size: 16px;
	vertical-align: super;
	font-weight: lighter;
}

.bottom-form p {
	font-size: 14px;
	line-height: 21px;
}

.bottom-form .form {
	order: 2;
	margin: 0;
}

.bottom-form .form,
.bottom-form .input {
	flex-direction: column;
}

.bottom-form .form,
.bottom-form .input,
.bottom-form button {
	height: max-content;

	display: flex;
	gap: 16px;

	width: 100%;
}

.bottom-form input,
.bottom-form button {
	align-items: center;
	justify-content: center;
	border-radius: 5px !important;
	font-size: 16px;
	padding: 16px 24px !important;
	-webkit-border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-ms-border-radius: 5px !important;
	-o-border-radius: 5px !important;
}

.bottom-form button {
	text-align: center;
	font-weight: 700;
}

.bottom-form .form .separator {
	height: 2px;
	width: 100%;
	margin: 0;
	background-color: #30363d9f;
}

.bottom-form .glow-icon {
	position: relative;
}

.bottom-form .glow-icon svg {
	margin: 16px 8px;
	fill: white;
}

.bottom-form .glow-icon::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	filter: blur(5px);
	background: radial-gradient(#a371f7, transparent 70%);
	transform: translate(-50%, -50%) scale(3);
	-webkit-transform: translate(-50%, -50%) scale(3);
	-moz-transform: translate(-50%, -50%) scale(3);
	-ms-transform: translate(-50%, -50%) scale(3);
	-o-transform: translate(-50%, -50%) scale(3);
	-webkit-filter: blur(5px);
}

.video-container {
	width: 100%;
	height: auto;

	z-index: -1 !important;

	display: flex;
	align-items: center;
	justify-content: center;

	position: relative;

	background-color: #050d1f;
}

.video-container video {
	width: 100%;
	height: auto;
	max-height: 900px;
	object-fit: cover;

	z-index: -1;
}

.video-container .img-col {
	display: flex;
	flex-direction: column;
	overflow: visible;

	width: 0;

	z-index: 1;
	gap: 54px;

	position: absolute;

	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

.video-container .container {
	position: relative;
}

.video-container .img-col:nth-of-type(1) {
	left: 0;
	top: 60%;
}

.video-container .img-col:nth-of-type(2) {
	right: 0;
	top: 45%;
}

.video-container img {
	height: auto;
	position: relative;
}

.video-container .small {
	width: 35px;
}
.video-container .medium {
	width: 70px;
}
.video-container .large {
	width: 120px;
}

.video-container #copilot {
	left: 4vw;
}

.video-container #star {
	left: 2vw;
	bottom: -5vh;
}

.video-container #blur {
	left: 20vw;
	bottom: -6vh;
}

.video-container #diamond {
	right: 7vw;
	top: 2vh;
}

.video-container #orb {
	right: 3vw;
	top: 4vh;
}

.video-container #mona {
	right: 20vw;
	top: 5vh;
}

#pre-footer {
	position: relative;
	/* margin-top: -20px; */
	padding-top: 0;

	flex-direction: column;
	gap: 16px;

	background-color: #0d1117;
	color: rgb(132, 141, 151) !important;

	font-size: 14px;
	line-height: 21px;
}

#pre-footer .gradient {
	height: 160px;
	width: 100vw;
	position: absolute;
	bottom: 100%;
	left: 50%;
	background: linear-gradient(to bottom, transparent 25%, #0d1117 68%);
	transform: translateX(-50%);
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
}

#pre-footer p {
	position: relative;
	bottom: 60px;
}

#pre-footer a {
	text-decoration: underline;
}

footer{
	gap: 82px !important;
}

footer,
footer .row,
footer,
footer .col {
	display: flex;
	flex-direction: column;
	color: #848d97 !important;

	font-size: 14px;
	line-height: 21px;
}

footer .row .left,
footer .row .right {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

footer .row {
	flex-direction: row !important;
	gap: 32px;
	flex-wrap: wrap;
}

footer .col.first {
	gap: 24px;
	width: 100%;
}

footer .col.foot-links {
	width: calc((100% - 32px) / 2);
	gap: 16px;
}

footer .subscribe{
	font-weight: bold;
	padding: 14px 24px;
	border: 1px solid #848d97;
	color: white;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
}

.row.foot {
	display: flex;
	width: 100vw;
	flex-direction: column !important;
	background-color: #161B22;
	color: #848d97;
	
	padding: 16px;
	padding-bottom: 42px;
}

.row.foot .container{
	display: flex;
	flex-direction: column;
	gap: 20px;

	max-width: 1280px;
    margin-right: auto;
    margin-left: auto;
}

.row.foot .left{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 2;
	gap: 8px;
}

.row.foot .right{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	order: 1;
	gap: 16px;
}

.row.foot .right img{
	width: 16px;
	height: 16px;
}

@media (min-width: 544px) {
	nav {
		padding-bottom: 16px;
	}

	nav .container {
		width: 320px;
	}

	.tilt-card #sponsor-cards > div {
		gap: 16px;
		right: -24px;
	}

	.sponsor-card {
		width: calc(calc(100% - 36px) / 3);
		padding: 24px;
	}

	.track-content#presentation {
		flex-direction: row;
		flex-wrap: wrap;

		gap: 32px;
	}

	.bottom-form p {
		font-size: 16px;
		line-height: 24px;
	}

	#pre-footer {
		padding: 32px 40px 10px 40px;
	}

	footer, .row.foot {
		padding: 24px 40px 40px 40px!important;
	}

	.row.foot .container{
		flex-direction: row;
		gap: 16px !important;
	}

	.row.foot .container .left{
		order: 1;
		width: 70%;
		align-items: center;
	}

	.row.foot .container .right{
		order: 2;
		width: 30%;
		align-items: center;
	}

	footer .col.foot-links {
		width: calc((100% - 32px*3) / 4);
		gap: 16px;
	}
}

@media (min-width: 768px){
	.track-detail{
		flex-direction: row;
		flex-wrap: wrap;

		gap: 48px;
	}

	.track-content .relative-container, .track-text{
		width: calc((100% - 48px) / 2);
	}

	.track-text{
		order: 1;
		max-width: 525px;
	}

	.relative-container{
		order: 2;
	}

	.track-stat{
		width: 100%;
		order: 3;
	}

	.track-content .relative-container img{
		width: 100%;
		right: -24px;
	}

	.track-content .relative-container::before {
		z-index: -1;

		content: "";
		position: absolute;
		top: 0%;
		right: 0;
		width: 150%;

		overflow: visible;

		aspect-ratio: 1;

		background: radial-gradient(#3d3054, transparent 75%);

		transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
	}

	.line-left .branch {
		display: flex;
		height: auto;
		max-width: 9vw;

		position: absolute;
		bottom: 0;
		left: 50%;
	}

	.track-stat h3 {
		font-size: 56px;
	}

	.sponsor-card {
		width: calc((100% - 8px) / 2);
		max-width: 225px;
	}

	#presentation .tilt-card {
		width: calc((100% - 32px) / 2);
	}

	#presentation .tilt-card.large {
		display: flex;
		flex-direction: row;
		width: 100%;
	}

	#presentation .tilt-card.large .track-text {
		order: 1;
	}

	#presentation #sponsor-cards {
		order: 2;
		width: 80%;
	}

	#presentation #sponsor-cards > div {
		width: 525px;
		top: -356px;

		transform: scale(0.8) rotate(-15deg) translateZ(10px);
		-webkit-transform: scale(0.8) rotate(-15deg) translateZ(10px);
		-moz-transform: scale(0.8) rotate(-15deg) translateZ(10px);
		-ms-transform: scale(0.8) rotate(-15deg) translateZ(10px);
		-o-transform: scale(0.8) rotate(-15deg) translateZ(10px);
	}

	#presentation .tilt-card.large .track-text {
		height: 100%;
		justify-content: space-between;
	}

	.bottom-form .track-detail {
		margin-left: 0;
	}

	.bottom-form .track-text {
		max-width: 670px;
		width: 100%;
	}

	.bottom-form h2 {
		font-size: 48px;
		line-height: 52px;
	}

	.bottom-form p {
		font-size: 20px;
		line-height: 28px;
	}

	.bottom-form .form,
	.bottom-form .input {
		flex-direction: row;
	}

	.bottom-form .input {
		gap: 0;
		width: 50%;
	}

	.bottom-form .input > * {
		height: 53px;
	}

	.bottom-form .form .separator {
		height: 53px;
		width: 2px;
	}

	.bottom-form button {
		width: max-content;
		text-wrap: nowrap;
	}

	.bottom-form .input input {
		width: 100%;
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	.bottom-form .input button {
		width: 100%;
		border-top-left-radius: 0 !important;
		border-bottom-left-radius: 0 !important;
	}

	.bottom-form .track-text {
		gap: 32px;
	}
}

@media (min-width: 1012px) {
	header {
		gap: 18px;
		padding-left: 16px !important;
		padding-right: 16px !important;
	}

	.header-signup,
	.header-signin {
		width: max-content;
		display: flex;

		font-weight: 400;

		background-color: transparent;
		text-wrap: nowrap;
	}

	nav .container > * {
		padding-left: 0px;
		padding-right: 0px;
		margin-bottom: 0px;
	}

	.flex-container {
		display: none !important;
	}

	nav:not(.visible),
	nav.visible,
	nav .container {
		display: flex;
		flex-direction: row;

		height: max-content;
		width: 100%;

		margin-top: 0;
		padding: 0;

		position: static;

		background-color: transparent;
		backdrop-filter: none;
	}

	#right-links,
	#left-links {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	#left-links {
		gap: 8px;
	}

	nav,
	nav .container,
	nav ul {
		overflow: visible;
	}

	#left-links li:has(.dropdown) {
		position: relative;
		overflow: visible;
	}

	#left-links .dropdown {
		position: absolute;
		top: 100%;
		left: -16px;
	}

	#left-links li > button,
	#left-links > li > a {
		color: white;
		font-weight: normal;
		font-size: inherit;
	}

	#left-links li > button {
		gap: 4px;
	}

	#left-links li > button svg {
		fill: #e4e4e4;

		transform: rotate(0);
		-webkit-transform: rotate(0);
		-moz-transform: rotate(0);
		-ms-transform: rotate(0);
		-o-transform: rotate(0);
	}

	.dropdown {
		background-color: white;
		color: #1f2328;
		width: max-content;
		padding: 24px;

		border-radius: 0.375rem;
		-webkit-border-radius: 0.375rem;
		-moz-border-radius: 0.375rem;
		-ms-border-radius: 0.375rem;
		-o-border-radius: 0.375rem;

		transform: scale(0.99) translateY(-0.7em);
		transform-origin: top;
		-webkit-transform: scale(0.99) translateY(-0.7em);
		-moz-transform: scale(0.99) translateY(-0.7em);
		-ms-transform: scale(0.99) translateY(-0.7em);
		-o-transform: scale(0.99) translateY(-0.7em);
}

	#left-links li:hover > button > svg{
		transform: translateY(3px);
		-webkit-transform: translateY(3px);
		-moz-transform: translateY(3px);
		-ms-transform: translateY(3px);
		-o-transform: translateY(3px);
}

	button[name="Product"] ~ .dropdown {
		flex-direction: row !important;
		gap: 0;
	}

	button[name="Product"] ~ .dropdown > * {
		width: max-content;
	}

	.dropdown .left {
		padding-right: 48px;
		border-right: 1px solid #dadada;
	}
	
	.dropdown .right{
		padding: 0 24px;
	}

	#search-btn{
		background-color: #283042;
		border: 1px solid #545A65;
	}

	#search-btn span {
		width: 266px;
	}

	.track-content {
		max-width: 1280px;
		margin-right: auto;
		margin-left: auto;
		font-size: 24px;
		line-height: 32px;
	}

	.track-stat .min {
		width: 290px;
	}

	.tilt-card .track-text {
		padding: 64px 128px 64px 64px;
	}

	.sponsor-card {
		width: calc(calc(100% - 36px) / 3);
	}

	#presentation #sponsor-cards {
		width: 115%;
	}

	#presentation #sponsor-cards > div {
		width: 680px;
		top: -193px;
		transform: rotate(-15deg) translateZ(10px);
		-webkit-transform: rotate(-15deg) translateZ(10px);
		-moz-transform: rotate(-15deg) translateZ(10px);
		-ms-transform: rotate(-15deg) translateZ(10px);
		-o-transform: rotate(-15deg) translateZ(10px);
	}

	.bottom-form h2 {
		font-size: 64px;
		line-height: 68px;
	}

	.bottom-form p {
		font-size: 20px;
		line-height: 28px;
	}

	.bottom-form .track-text {
		max-width: unset;
		width: 75%;
	}

	.video-container video {
		height: 900px;
		width: auto;
		margin: auto;
	}

	.video-container .small {
		width: 55px;
	}
	.video-container .medium {
		width: 100px;
	}
	.video-container .large {
		width: 220px;
	}

	#pre-footer p {
		width: 75%;
	}
}
