@import './partials/part1.css';
@import './partials/part2.css';
@font-face {
	font-family: 'Hubot';
	src: url("/assets/fonts/Hubot-Sans.ttf");
}

@font-face {
	font-family: 'Mona';
	src: url("/assets/fonts/Mona-Sans.ttf");
}

:root {
	color: white;
}


*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Noto Sans",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
}

.mona{
	font-family: "Mona Sans","Mona Sans Fallback",-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

a {
	/* display: inline-flex; */
	width: max-content;
	height: max-content;
	text-decoration: none;
	color: inherit;
}

html,
body {
	position: relative;
	width: 100vw;
	height: 100vh;
	/* overflow: hidden; */
	/* line-height: 1.5rem; */

	background-color: #0d1117;
}

button:hover,
a:hover {
	cursor: pointer;
}

#loader{
	display: none;
}

#main-content {
	z-index: 15;

	display: flex;
	flex-direction: column;

	width: 100%;
	height: 100vh;
	overflow-y: auto;
	overflow-x: hidden;

	scroll-behavior: smooth;

	position: relative;
}


#main-content>*:not(header) {
	z-index: 10;
}

.px-3{
	padding-right: 16px;
    padding-left: 16px;
}

.py-3{
	padding-top: 16px;
	padding-bottom: 16px;
}

.p-responsive {
	padding-right: 16px;
	padding-left: 16px;
}

@media (min-width: 1012px){
	.p-responsive {
		padding-right: 16px;
		padding-left: 16px;
	}
}
@media (min-width: 544px){
	.p-responsive {
		padding-right: 40px;
		padding-left: 40px;
	}
}

@media (min-width: 544px) {}

@media (min-width: 768px) {}

@media (min-width: 1280px) {}

@media (min-width: 1400px) {}

@keyframes takeoff {
    0%{ bottom: 0; }
    100%{
        bottom: 100%;
    }
}